* {
    transition: all .1s;
}

body {
    background: #f2f5f7;
}

.header {
    background: #4d75a3;
    height: 50px;
    border-bottom: 1px solid #315a88;
    line-height: 2em;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}

.header a {
    color: #d8e5f3;
}

.header li a:hover {
    background: none;
    color: #e4f1ff;
}

.content li a:hover {
    background: none;
}

.content {
    margin: 28px;
    position: absolute;
}

.content #contentUser {
    height: 150px;
    margin-bottom: 0;
    background: #fff;
    /*line-height: 2em;*/
    border: 1px solid #e5ebf0;
    border-top: none;
}

#contentUser div {
    display: inline-block;
}

#contentUser #photoUser {
    padding: 20px;
    width: 150px;
    float: left;
    color: #3b3b3b;
}

#photoUser img {
    border-radius: 50px;
    width: 110px;
    height: 110px;
}

#contentUser #nameStatusUser {
    width: 300px;
    font-size: .9em;
    float: left;
}

#nameStatusUser #statusGroup {
    position: absolute;
    left: 138px;
    top: 48px;
}

#statusGroup input {
    width: 200px;
    font-size: 1em;
}

#statusGroup button {
    background: #315a88;
    color: #d8e5f3;
}

#contentUser #navUser {
    width: 640px;
    padding: 10px 50px;
}

#navUser ul li {
    margin: 0 19px;
}

#navUser small {
    position: relative;
    top: -15px;
}

#contentUser #addFriendsWriteMess {
    float: right;
    width: 200px;
    padding: 30px 0;
}

#addFriendsWriteMess a {
    width: 180px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #548bc9;
    color: #548bc9;
    height: 36px;
}

#addFriendsWriteMess a:nth-child(1) {
    margin-bottom: 13px;
}

#addFriendsWriteMess a:hover {
    background: #548bc9;
    color: #fff;
}

.content #navUserInfo {
    background: #f5f8fa;
    border: 1px solid #dbe0e5;
    border-radius: 0 0 5px 5px;
    border-top: none;
    height: 45px;
}

#navUserInfo ul {
    margin: 0 auto;
    display: inline-block;
}

#navUserInfo a {
    color: #839098;
    font-size: 16px;
}

#navUserInfo a:hover {
    color: #363b3f;
    border-bottom:2px solid #548bc9;
    border-radius: 0;
}
